{% extends 'lk-admin::!.layouts.admin' %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            {{ crud_rows(formfilter, '_', 1)|raw }}
        </div>
        <div class="col-lg-3">
            <button class="btn btn-block btn-social btn-google js-bootstrap-dialog"
                    data-url="{{ url_base }}/add">
                <i class="fa fa-plus"></i> Добавить
            </button>
            <hr>
            {{ formfilter.form_filter|raw }}
        </div>
    </div>
{% endblock %}
